<?php
    session_start();

	require_once("autoload.php");
	// use Abraham\TwitterOAuth\TwitterOAuth;
	require_once('src/TwitterOAuth.php');
	use Abraham\TwitterOAuth\TwitterOAuth;

	$apikey = "oTk1GPfPsepAvcRkTITqwi4fd";
	$apisecret = "WMYmOzRbLcfW5lPbuFwQtoKqyWkubsKYUDhsgnpTDqe9Zq5u04";
	$accesstoken = "357659837-4NI7LhZr76ybwvw4HhG0ZwcofroXEZIG2k06QkAi";
	$accesssecret = "oKTzLO6iGHOR1PNwD56tgLhB7zUEaU0bSRDFSEHYEYF9F";

	$connection = new TwitterOAuth($apikey, $apisecret, $accesstoken, $accesssecret);
   
	if($lat>0 && $long>0 && $dist>0)
		$geo = ''+$lat+','+$long+','+$dist+'';
		$results = $connection->get("search/tweets", ["q" => $query, "count" => $count, "geocode" => $geo]);
	else
		$results = $connection->get("search/tweets", ["q" => $query, "count" => $count]);

	// return json_encode($results);
	// $i = 1;
	// // $resultlist = $results.statuses; //gets an array of statuses returned
	print_r($results);
	// foreach ($results as $result) //goes through each status
	// {
	// 	foreach($result as $tweet)	//goes through each componenet of the status and spits out relevant info
	// 	{
	// 		echo $i;
	// 		echo ". ";
	// 		echo $tweet->text;
	// 		// echo " by ";
	// 		// echo $tweet->users->screen_name;
	// 		echo "<br>";
	// 		$i++;
	// 	}
	// 	if ($i > 100){
	// 		break;
	// 	}
	// }

	}
?>


<!DOCTYPE html>
<html ng-app="tWorld">
<head>
    <title>T-World</title>
	<meta charset="utf-8" />

    <!--Styles (CDN)-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Styles (Author)-->
    <link href="css/styles.css" rel="stylesheet">

    <!--Scripts (Critical Dependencies)-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6_u0eLSwz39Nwu3OWPwI5EF4JSQs42B0"></script>
    <script src="js/globe.js"></script>
    

    <style>
    /*  ******************** Colour reference chart****************
           *************************** comment ********* colour ********

box navbar colour                 dark-blue               #4A89DC
box navbar light colour           light-blue              #5D9CEC
box background colour             dark-gray               #434A54
box backgrounf light colour       light-gray              #656D78

*/

</style>



</head>
<body ng-controller="mainCtrl">


  <!-- begin template -->
  <div class="navbar navbar-custom navbar-fixed-top">
   <div class="navbar-header"><a class="navbar-brand" href="#"><b style="font-size:25px;">T-World</b></a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li>&nbsp;</li>
        </ul>
        <form class="navbar-form">
          <div class="form-group pull-right" style="display:inline; ">
            <div class="form-group">
              <label for="usr">Time:</label>
              <input class="blue-form" type="text" placeholder="Hour"  id="hour" style="width:80px;">
              <input class="blue-form" type="text" placeholder="Minute"  id="minute" style="width:80px;">
            </div>
            <div class="form-group" style="padding-left:20px;">
              <label for="usr">Date:</label>
              <input class="blue-form" type="text" placeholder="Day"  id="day" style="width:80px;">
              <input class="blue-form" type="text" placeholder="Month"  id="month" style="width:80px;">
              <input class="blue-form" type="text" placeholder="Year" id="year" style="width:80px;">
            </div>
            <div class="input-group" style="padding-left:20px;">
              <input ng-model="searchTrend" class="blue-form" type="text" style="width:250px;" placeholder="What are you searching for?">
              <a ng-click="search(searchTrend)" class="input-group-addon"><i class="material-icons centerIcon">search</i></a>
            </div>
          </div>
        </form>
      </div>
  </div>

  <div id="map-canvas"></div>
  <div class="container-fluid" id="main">
    <div class="row">
    	<div class="col-xs-3 nopadding" style="background-color:#434A54; border-right: 1px solid; border-right-color: black;" id="left">


        <h2 class="simplepadding" style="color:#ffffff;">Top 10 Hashtags</h2>

        <p class="simplepadding" style="color:#ccc; font-size:13px;">The following are the ten most popular hashtags found given your query result</p>
        <br>
        <ul class="list-group" style="width:85%; margin:auto;">
          <li class="list-group-item"><a class="custom-link" href="#">01 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">02 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">03 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">04 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">05 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">06 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">07 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">08 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">09 - #Trump</a></li>
          <li class="list-group-item"><a class="custom-link" href="#">10 - #Trump</a></li>

        </ul>
      </div>

      <div id="mapContainer"  class="col-xs-9"></div>


      </div>
    </div>
  

  <!-- end template -->


    <!--Scripts (CDN)-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>

    

</body>
</html>
